<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.too.trip.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.too.trip.entity.Comment">
        <id column="comment_id" property="commentId" />
        <result column="h_id" property="hId" />
        <result column="u_id" property="uId" />
        <result column="c_context" property="cContext" />
        <result column="c_date" property="cDate" />
    </resultMap>

</mapper>
