<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.too.trip.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.too.trip.entity.Comment">
        <id column="comment_id" property="commentId" />
        <result column="h_id" property="hId" />
        <result column="u_id" property="uId" />
        <result column="c_context" property="cContext" />
        <result column="c_date" property="cDate" />
    </resultMap>
    <sql id="Base_Column_List">
     c_id,h_id,u_id,s_id,hc_context,hc_date
    </sql>
    <select id="selectByCommentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where
        comment_id = #{commentId,jdbcType=NUMERIC}
    </select>
    <insert id="insertSelective">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">comment_id,</if>
            <if test="hId != null">h_id,</if>
            <if test="uId != null">u_id,</if>
            <if test="cContext != null">c_context,</if>
            <if test="cDate != null">c_date,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">#{commentId,jdbcType=NUMERIC},</if>
            <if test="hId != null">#{hId,jdbcType=NUMERIC},</if>
            <if test="uId != null">#{uId,jdbcType=NUMERIC},</if>
            <if test="cContext != null">#{cContext,jdbcType=VARCHAR},</if>
            <if test="cDate != null">#{cDate},</if>
        </trim>
    </insert>
    <delete id="deleteByCommentId">
        delete
        from comment
        where comment_id = #{commentId,jdbcType=NUMERIC}
    </delete>
    <select id="selectAllByUId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where
        u_id = #{uId,jdbcType=NUMERIC}
    </select>
    <select id="selectAllByHId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where
        h_id = #{hId,jdbcType=NUMERIC}
    </select>
    <select id="selectAllBySId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where
        s_id = #{sId,jdbcType=NUMERIC}
    </select>

</mapper>
