<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.too.trip.mapper.HotelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.too.trip.entity.Hotel">
        <id column="h_id" property="hId" />
        <result column="hotel_img" property="hotelImg" />
        <result column="hotel_name" property="hotelName" />
        <result column="hotel_description" property="hotelDescription" />
        <result column="hotel_star" property="hotelStar" />
        <result column="hotel_position" property="hotelPosition" />
        <association property="city" javaType="com.too.trip.entity.City">
            <id column="city_id" property="cityId"/>
            <result column="city_name" property="cityName"/>
            <result column="province" property="province"/>
        </association>
    </resultMap>
    <!--  查询全部  -->
    <select id="searchAllHotel" resultMap="BaseResultMap">
        select h_id, hotel_img, hotel_name, hotel_description, hotel_star, hotel_position, city_name from hotel left join city on hotel.city_id = city.city_id
    </select>

    <!--  查询单个  -->
    <select id="searchById" resultMap="BaseResultMap">
        select *
        from hotel left join city on hotel.city_id = city.city_id
        where h_id = #{hId}
    </select>

    <!--
        判断有无查询条件，若无查询条件则查询全部记录
        若有查询条件，则根据查询条件查询
      -->
    <select id="selectPage" resultMap="BaseResultMap">
        select h_id, hotel_img, hotel_name, hotel_description, hotel_star, hotel_position, city_name, hotel.city_id, province
        from hotel left join city on hotel.city_id = city.city_id
        <where>
            <if test="field != null and field != ''">
                ${field} like "%"#{keyword}"%"
            </if>
        </where>
    </select>

    <select id="selectAllByPage" resultMap="BaseResultMap">
        select h_id, hotel_img, hotel_name, hotel_description, hotel_star, hotel_position, city_name, hotel.city_id, province
        from hotel left join city on hotel.city_id = city.city_id
    </select>
</mapper>
