<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.too.trip.mapper.ScenicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.too.trip.entity.Scenic">
        <id column="scenic_id" property="scenicId" />
        <result column="science_name" property="scienceName" />
        <result column="science_img" property="scienceImg" />
        <result column="science_price" property="sciencePrice" />
        <result column="description" property="description" />
        <result column="science_star" property="scienceStar" />
        <result column="city_id" property="cityId" />
        <result column="science_position" property="sciencePosition" />
        <association property="city" javaType="com.too.trip.entity.City">
            <id column="city_id" property="cityId"/>
            <result column="city_name" property="cityName"/>
            <result column="province" property="province"/>
        </association>
        <association property="image" javaType="com.too.trip.entity.Image">
            <id column="img_id" property="imgId"/>
            <result column="s_id" property="sId"/>
            <result column="img_src" property="imgSrc"/>
        </association>
    </resultMap>
<!--    查询所有景点-->
    <select id="searchAllScenic" resultMap="BaseResultMap">
        select scenic_id,science_name,science_img,science_price,description,science_star,science_position,city_name,province
        from scenic left join city on scenic.city_id = city.city_id
    </select>
<!--    根据景点id查询景点-->
    <select id="searchScenicById" resultMap="BaseResultMap">
        SELECT scenic.scenic_id, scenic.science_name, scenic.science_img, scenic.science_price, scenic.description,
               scenic.science_star, scenic.science_position, city.city_name, city.province
        FROM scenic
                 LEFT JOIN city ON scenic.city_id = city.city_id
        WHERE scenic.scenic_id = ${sid}
        GROUP BY scenic.scenic_id;
    </select>

    <!--
        分页查询
        判断有无查询条件，若无查询条件则查询全部记录
        若有查询条件，则根据查询条件查询
      -->
    <select id="selectPage" resultMap="BaseResultMap">
        select scenic_id,science_name,science_img,science_price,description,science_star,science_position,city_name,province
        from scenic left join city on scenic.city_id = city.city_id
        <where>
            <if test="field != null and field != ''">
                ${field} like "%"#{keyword}"%"
            </if>
        </where>
    </select>



    <select id="selectFromImageByScenicId" resultType="string">
        select img_src  from image WHERE s_id = #{scenicId}
    </select>
</mapper>
