<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.too.trip.mapper.ScenicOrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.too.trip.entity.ScenicOrders">
        <id column="so_id" property="soId" />
        <result column="scenic_id" property="scenicId" />
        <result column="user_id" property="userId" />
        <result column="so_status" property="soStatus" />
        <result column="so_time" property="soTime" />
    </resultMap>

</mapper>
